<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/login.css">
</head>
<body>
    <main>
        <div class="toggle-container">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
            </label>
            <p class="toggle-text">Toggle Dark/Light Mode</p>
        </div>

        <nav class="navbar">
            <div class="icon-links">
                <a href="https://www.facebook.com/SolihullNewsLive/">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M17 2H14C12.6739 2 11.4021 2.52678 10.4645 3.46447C9.52678 4.40215 9 5.67392 9 7V10H6V14H9V22H13V14H16L17 10H13V7C13 6.73478 13.1054 6.48043 13.2929 6.29289C13.4804 6.10536 13.7348 6 14 6H17V2Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <a href="https://www.instagram.com/solihulllive/">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke="#000000" stroke-width="1.5"></path>
                        <path d="M17.5 6.51L17.51 6.49889" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <a href="https://www.threads.net/@solihulllive">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M9.9141 8.12803C12.4185 6.11437 16.0241 7.18759 16.45 10.5C16.9018 14.014 16 16.8 12.5 16.8C9.24997 16.8 9.34997 14 9.34997 14C9.34997 11 14.5 10.6 17.5 12.1C23 15.6 19 22 13 22C8.02941 22 3.99997 19.5 3.99997 12C3.99997 4.5 8.02941 2 13 2C16.5079 2 19.6715 3.80695 20.8348 7.42085" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
            <ul class="text-links">
                <li><a href="http://127.0.0.1:8000">Homepage</a></li>
                <li><a href="http://127.0.0.1:8000/articles.html">View our Articles</a></li>
                <li><a href="http://127.0.0.1:8000/contact.html">Contact us!</a></li>
            </ul>
        </nav>


        <div class="login-form">
            <h1>Login</h1>
            <form method="POST">
                <div class="mb-3">
                    <label for="email/username"></label>
                    <input type="text" id="email/username" name="email/username" placeholder="Enter Email or Username" required>
                </div>
                <div class="mb-3">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>

                <div class="register-link">
                    <p>Don't have an account? <a href="http://127.0.0.1:8000/signup.html">Register Today!</a></p>
                </div>
                <button class="btn btn-primary" id="submitBtn" type="submit" onclick="auth()">Submit</button>
            </form>
        </div>
    </main>
    <script src="http://127.0.0.1:8000/static/js/login.js"></script>
    <script src="http://127.0.0.1:8000/static/js/Dark_Light_toggle.js"></script>
</body>